<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs')%>
    <body>
        <nav>
            <div class="site-title">
                <a href="/">
                    <h1>Blog Check</h1>
                </a>
                <p>A Lakshya Kohli Site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <div class="blogs-content">
            <h2>My Blogs</h2>
            <% if (blogs.length > 0) { 
                blogs.forEach((blog) => {
                    if(blog.googleID == user.googleID) {%>
                <div class="blogs"><a class = "single" href="/blogs/<%= blog._id%>">
                  <h3 class="title"><%= blog.title %></h3>
                  <p class="snippet"><%= blog.snippet %></p>
                </a>
                </div>
                <% }}) %>
              <% } else { %>
                <div class = "empty">
                  <p>There are no blogs to display.</p>
                  <p><br>Click<a href="/blogs/create"> here </a>to add a new blog. </p>
                </div>
              <% } %>
        </div>
    
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
